<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Index</title>    
     <% if (bootstrap) { %>
      <!-- Bootstrap core CSS -->
      <script src="theme/css/bootstrap.min.css"></script>
    <% } %>
    
  </head>

  <body>
    <div class="container"></div> 

    <% if (jquery) { %>
      <script src="js/jquery.min.js"></script>
    <% } %>
    
    <% if (bootstrap) { %>
      <script src="js/bootstrap.min.js"></script>
    <% } %>    
  </body>
</html>